.card {
    max-width: 40rem;
    height: auto;
    margin: 0 auto;
    background: $white;
    border-radius: 10px;
    padding: 2rem;
    color: $grayish-blue;
    position: absolute;
    top: 15rem;
    left: 0;
    right: 0;

    @include breakpoint-down(mobile) {
        padding: 0.75rem;
        margin: 20px;
    }

    .card__price-range {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;

        .card__price-range--pageviews {
            @include breakpoint-down (mobile){
                margin: 0 auto;
            }
        }

        .card__price-range--rate {
            color: #000;

            @include breakpoint-down(mobile){
            display: none;
        }


            .per {
                font-size: 15px;
                color: $grayish-blue;
            }
        }
    }

    .card__price-range--rate {
        font-size: 35px;
        height: inherit;
        align-items: center;
        display: inherit;
    }

    .card-mobile__price-range--rate{
        display: none;

        @include breakpoint-down(mobile){
            display: block;
            color: #000;
            text-align: center;
            height: 40px;

            .per {
                font-size: 15px;
                color: $grayish-blue;
            }
        }

    }

    hr {
        border: 1px solid $lightgrayish;
        padding: 0!important;
    }

    .card__footer {
        margin-top: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;

        @include breakpoint-down(mobile) {
            flex-direction: column;
        }

        ul li {
            list-style-image: url('/images/icon-check.svg');
        }

        li + li {
            margin-top: 10px;
        }

        button {
            padding: 15px 40px;
            display: inline-block;
            background: $dark-desaturated-blue;
            outline: none;
            color: $white;
            font-weight: 600;
            border: 0;
            border-radius: 20px;

            @include breakpoint-down(mobile) {
                margin-top: 30px;
            }
        }
    }

}