.card {
    max-width: 40rem;
    height: auto;
    margin: 0 auto;
    background: $white;
    border-radius: 10px;
    padding: 2rem;
    color: $grayish-blue;

    .card__price-range {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .card__price-range--rate {
            color: #000;

            .per {
                font-size: 15px;
                color: $grayish-blue;
            }
        }
    }

    .card__slider {
        margin-top: 3rem;
        margin-bottom: 2.5rem;

        .slider {
            width: 95%;
            margin: 0 auto;
            -webkit-appearance: none;
            border-radius: 5px;
            height: 8px;
            background: $lightgrayish;
            outline: none;
        }

        .slider::-webkit-slider-runnabble-track {
            height: 10px;
            -webkit-appearance: none;
            color: #13bba4;
        }
    }

    .card__billing {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 3rem;


        p {
            font-size: 11px;
        }

        .discount {
            margin-left: 5px;
            padding: 4px;
            background-color: $light-grayish-red;
            color: $light-red;
            border-radius: 6px;
        }
    }

    .card__footer {
        margin-top: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul li {
            list-style-image: url('/images/icon-check.svg');
        }

        li + li {
            margin-top: 10px;
        }
    }

}