.card__billing {
        display: flex;
        align-items: center;
        justify-content: space-around;
        // margin-bottom: 3rem;
        margin: 0 4rem 3rem;

        @include breakpoint-down(tablet) {
            margin: 2rem 0;
        }


        p {
            font-size: 14px;
            text-transform: capitalize;

            @include breakpoint-down(tablet){
                font-size: 12.5px;
            }
        }

        .discount {
            margin-left: 5px;
            padding: 4px;
            background-color: $light-grayish-red;
            color: $light-red;
            border-radius: 6px;
            text-transform: lowercase!important;

            .mobile{
                @include breakpoint-down(tablet) {
                    display: none;
                }
            }
        }
    }

.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

// the slider

.slider__tool {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $strong-cyan;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider__tool::before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider__tool {
    background-color: #2196f3;
}

input:focus + .slider__tool {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider__tool:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px)
}

.slider__tool.round {
    border-radius: 34px;
}

.slider__tool.round::before {
    border-radius: 50%;
}